{{ 'section-collection-slider.css' | asset_url | stylesheet_tag }}

<div class="section-wrapper collectionSlider" {% if section.settings.section_background %} style="background-image: url('{{ section.settings.section_background | image_url }}'); background-size: cover;" {% endif %}>
  <div class="slider-wrapper">
    <div class="section-title">
      {%- if section.settings.collection_name -%}
        <h4 class="{{ section.settings.collection_name_size }}" style="color:{{ section.settings.collection_name_color }}; {% if section.settings.collection_name_bold %} font-weight: bold;{% endif %}">{{ section.settings.collection_name | escape }}</h4>
      {%- endif -%}
      {%- if section.settings.section_heading -%}
        <h2 class="{{ section.settings.heading_size }}" style="color:{{ section.settings.heading_color }}; {% if section.settings.heading_bold %} font-weight: bold;{% endif %}">{{ section.settings.section_heading | escape }}</h2>
      {%- endif -%}
    </div>
    {% if section.settings.collection %}
      <div class="swiper-container collectionSwiper">
        <div class="swiper-wrapper">
          {% for product in section.settings.collection.products %}
            <div class="swiper-slide"> 
              <h3>{{ product.title }}</h3>
              <h3>{{ product.type }}</h3>
              {%- if product.featured_image -%}
              {%- assign height = product.featured_image.width | divided_by: product.featured_image.aspect_ratio | round -%}
              {{ product.featured_image | image_url: width: 400 | image_tag:
                loading: 'lazy',
                height: height,
                sizes: "100vw",
                widths: '375, 400, 550, 750, 1100, 1500, 1780, 2000, 3000, 3840'
              }}
              {%- else -%}
                {{ 'lifestyle-2' | placeholder_svg_tag: 'placeholder-svg' }}
              {%- endif -%}
              {% if product.price %}
                <div class="product-price">
                  <span>
                    <img src="{{ 'info-collection-slider.svg' | asset_url }}"  width="24" height="24" />
                  </span>
                  {% if product.compare_at_price > product.price %}
                  <span>{{ product.compare_at_price | money }}</span>
                  {% endif %}
                  <span>{{ product.price | money }}</span>
                </div>
              {% endif %}
            </div>
          {% endfor %}
        </div>
        <div class="swiper-button-prev custom-swiper-button-prev">
            <img src="{{ 'collection-slider-arrow-left.svg' | asset_url }}"  width="42" height="42" />
        </div>
        <div class="swiper-button-next custom-swiper-button-next">
            <img src="{{ 'collection-slider-arrow-right.svg' | asset_url }}"  width="42" height="42" />
        </div>
        <div class="swiper-pagination"></div> 
      </div>
    {% endif %}
  </div>
</div>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css"/>
<script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js" async></script>
<script src="{{ 'section-collection-slider.js' | asset_url }}" defer="defer"></script>

{% schema %}
{
  "name": "t:sections.collection-slider.name",
  "tag": "section",
  "class": "section",
  "presets": [
    {
      "name": "t:sections.collection-slider.presets.name",
      "category": "t:sections.collection-slider.presets.category"
    }
  ],
  "settings": [
    {
      "type": "image_picker",
      "id": "section_background",
      "label": "t:sections.collection-slider.settings.section_background.label"
    },
    {
      "type": "text",
      "id": "collection_name",
      "label": "t:sections.collection-slider.settings.collection_name.label"
    },
    {
      "type": "select",
      "id": "collection_name_size",
      "label": "t:sections.collection-slider.settings.collection_name_size.label",
      "default": "h3",
      "options": [
        {
          "value": "h5",
          "label": "t:sections.collection-slider.settings.collection_name_size.options__1.label"
        },
        {
          "value": "h4",
          "label": "t:sections.collection-slider.settings.collection_name_size.options__2.label"
        },
        {
          "value": "h3",
          "label": "t:sections.collection-slider.settings.collection_name_size.options__3.label"
        }
      ]
    },
    {
      "type": "color",
      "id": "collection_name_color",
      "label": "t:sections.collection-slider.settings.collection_name_color.label",
      "default": "#000000"
    },
    {
      "type": "checkbox",
      "id": "collection_name_bold",
      "label": "t:sections.collection-slider.settings.collection_name_bold.label",
      "default": false
    },
    {
      "type": "text",
      "id": "section_heading",
      "label": "t:sections.collection-slider.settings.section_heading.label"
    },
    {
      "type": "select",
      "id": "heading_size",
      "label": "t:sections.collection-slider.settings.heading_size.label",
      "default": "h1",
      "options": [
        {
          "value": "h2",
          "label": "t:sections.collection-slider.settings.heading_size.options__1.label"
        },
        {
          "value": "h1",
          "label": "t:sections.collection-slider.settings.heading_size.options__2.label"
        },
        {
          "value": "h0",
          "label": "t:sections.collection-slider.settings.heading_size.options__3.label"
        }
      ]
    },
    {
      "type": "color",
      "id": "heading_color",
      "label": "t:sections.collection-slider.settings.heading_color.label",
      "default": "#000000"
    },
    {
      "type": "checkbox",
      "id": "heading_bold",
      "label": "t:sections.collection-slider.settings.heading_bold.label",
      "default": false
    },
    {
      "type": "collection",
      "id": "collection",
      "label": "t:sections.collection-slider.settings.title.label"
    }
  ]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %} 
{% endjavascript %}