{{ 'section-collection-slider.css' | asset_url | stylesheet_tag }}
{{ 'product-card.css' | asset_url | stylesheet_tag }}

<div class="section-wrapper collectionSlider" {% if section.settings.section_background %} style="background-image: url('{{ section.settings.section_background | image_url }}'); background-size: cover;" {% endif %}>
  <div class="slider-wrapper">
    <div class="section-title">
      {%- if section.settings.collection_name -%}
        <h4 class="{{ section.settings.collection_name_size }}" style="color:{{ section.settings.collection_name_color }}; {% if section.settings.collection_name_bold %} font-weight: bold;{% endif %}">{{ section.settings.collection_name | escape }}</h4>
      {%- endif -%}
      {%- if section.settings.section_heading -%}
        <h2 class="{{ section.settings.heading_size }}" style="color:{{ section.settings.heading_color }}; {% if section.settings.heading_bold %} font-weight: bold;{% endif %}">{{ section.settings.section_heading | escape }}</h2>
      {%- endif -%}
    </div>
    {% if section.settings.collection %}
      <div class="swiper-container collectionSwiper" data-products-to-show="{{ section.settings.products_to_show }}">
        <div class="swiper-wrapper" {% if section.settings.products_to_show < 4 %} style="gap: 24px;" {% endif %}>
          {% for product in section.settings.collection.products limit: section.settings.products_to_show %}
            {% render 'product-card',
              product_card: product,
              products: products %}
          {% endfor %}
        <div class="swiper-button-prev custom-swiper-button-prev" {% if section.settings.products_to_show < 4 %} style="display: none;" {% endif %}>
            <img src="{{ 'collection-slider-arrow-left.svg' | asset_url }}"  width="42" height="42" />
        </div>
        <div class="swiper-button-next custom-swiper-button-next" {% if section.settings.products_to_show < 4 %} style="display: none;" {% endif %}>
            <img src="{{ 'collection-slider-arrow-right.svg' | asset_url }}"  width="42" height="42" />
        </div>
        </div>
        <div class="swiper-pagination"></div> 
      </div>
    {% endif %}
  </div>
</div>
                        
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css"/>
<script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js" async></script>

{% schema %}
{
  "name": "t:sections.collection-slider.name",
  "tag": "section",
  "class": "section",
  "presets": [
    {
      "name": "t:sections.collection-slider.presets.name",
      "category": "t:sections.collection-slider.presets.category"
    }
  ],
  "settings": [
    {
      "type": "image_picker",
      "id": "section_background",
      "label": "t:sections.collection-slider.settings.section_background.label"
    },
    {
      "type": "text",
      "id": "collection_name",
      "label": "t:sections.collection-slider.settings.collection_name.label"
    },
    {
      "type": "select",
      "id": "collection_name_size",
      "label": "t:sections.collection-slider.settings.collection_name_size.label",
      "default": "h3",
      "options": [
        {
          "value": "h5",
          "label": "t:sections.collection-slider.settings.collection_name_size.options__1.label"
        },
        {
          "value": "h4",
          "label": "t:sections.collection-slider.settings.collection_name_size.options__2.label"
        },
        {
          "value": "h3",
          "label": "t:sections.collection-slider.settings.collection_name_size.options__3.label"
        }
      ]
    },
    {
      "type": "color",
      "id": "collection_name_color",
      "label": "t:sections.collection-slider.settings.collection_name_color.label",
      "default": "#000000"
    },
    {
      "type": "checkbox",
      "id": "collection_name_bold",
      "label": "t:sections.collection-slider.settings.collection_name_bold.label",
      "default": false
    },
    {
      "type": "text",
      "id": "section_heading",
      "label": "t:sections.collection-slider.settings.section_heading.label"
    },
    {
      "type": "select",
      "id": "heading_size",
      "label": "t:sections.collection-slider.settings.heading_size.label",
      "default": "h1",
      "options": [
        {
          "value": "h2",
          "label": "t:sections.collection-slider.settings.heading_size.options__1.label"
        },
        {
          "value": "h1",
          "label": "t:sections.collection-slider.settings.heading_size.options__2.label"
        },
        {
          "value": "h0",
          "label": "t:sections.collection-slider.settings.heading_size.options__3.label"
        }
      ]
    },
    {
      "type": "color",
      "id": "heading_color",
      "label": "t:sections.collection-slider.settings.heading_color.label",
      "default": "#000000"
    },
    {
      "type": "checkbox",
      "id": "heading_bold",
      "label": "t:sections.collection-slider.settings.heading_bold.label",
      "default": false
    },
    {
      "type": "collection",
      "id": "collection",
      "label": "t:sections.collection-slider.settings.title.label"
    },
    {
      "type": "range",
      "id": "products_to_show",
      "min": 1,
      "max": 12,
      "step": 1,
      "default": 6,
      "label": "t:sections.collection-slider.settings.products_to_show.label"
    }
  ]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}

  window.addEventListener('DOMContentLoaded', function() {
      var collectionSwiperContainer = document.querySelector('.collectionSwiper');
      var productsToShow = collectionSwiperContainer.getAttribute('data-products-to-show');
      if (productsToShow > 3) {
        var collectionSwiper = new Swiper('.collectionSwiper', { 
          navigation: {
            nextEl: '.swiper-button-next',
            prevEl: '.swiper-button-prev',
            disabledClass: 'swiper-button-disabled',
            hiddenClass: 'swiper-button-hidden',
            prevEl: '.custom-swiper-button-prev',
            nextEl: '.custom-swiper-button-next',
          },
          pagination: {
              el: '.swiper-pagination',
              type: 'bullets',
          },
          grabCursor: true,
          slidesPerView: 1,
          spaceBetween: 24,
          breakpoints: {
          300: {
            slidesPerView: 1,
            spaceBetween: 18, 
          },
          843: {
            slidesPerView: 2,
          },
          1256: {
            slidesPerView: 3,
          },
        },
        }); 
      } 

    var variantSelects = document.querySelectorAll('.variant-select');
    variantSelects.forEach(function(variantSelect) {
      variantSelect.addEventListener('change', function() {
        var selectedVariantId = variantSelect.value;
        var productCard = variantSelect.closest('.product-card');
        var selectedVariantIdInput = productCard.querySelector('#selected-variant-id');
        if (selectedVariantIdInput) {
          selectedVariantIdInput.value = selectedVariantId; 
        }
      });
    });
  });

{% endjavascript %}