<link
  rel="stylesheet"
  type="text/css"
  href="{{ 'component-footer2.css' | asset_url }}"
  media="print"
  onload="this.media='all'">



<footer>
  {{ 'nav-pink-sprite.svg' | asset_url | img_tag: 'pink-sprite', "footer__pink-nav-sprite" }}
  {% if section.settings.select == "svg" %}
    {% if section.settings.svg_code != blank %}
      <div class="footer__logo-letters">
        {{ section.settings.svg_code }}
      </div>
    {% endif %}
  {% elsif section.settings.select == "img" %}
    {% if section.settings.image != blank %}
      <img class="footer__logo-letters"
        srcset="{% if section.settings.image.width >= 80 %}{{ section.settings.image | image_url: width: 80 }} 80w,{% endif %}
        {% if section.settings.image.width >= 100 %}{{ section.settings.image | image_url: width: 100 }} 100w,{% endif %}
        {% if section.settings.image.width >= 150 %}{{ section.settings.image | image_url: width: 150 }} 150w,{% endif %}
        {{ section.settings.image | image_url }} {{ section.settings.image.width }}w"
        alt="{{ section.settings.image.alt | escape }}"
        src="{{ section.settings.image | image_url }}"
        loading="lazy" />
    {% endif %}
  {% endif %}
  <div class="footer__mobile-top-bar">
    {% render 'pink-sprites-background' %}
  </div>
  <div class="footer__sections-container flex">
    <div class="footer__first_section flex-col">
      {%- if section.settings.footer_desc != blank -%}
          <p>{{ section.settings.footer_desc | escape }}</p>
      {%- endif -%}
      <p>
        {%- if section.settings.newsletter_heading != blank -%}
          <span>{{ section.settings.newsletter_heading | escape }}</span>
        {%- endif -%}
        {%- if section.settings.newsletter_desc != blank -%}
          {{ section.settings.newsletter_desc | escape }}
        {%- endif -%}
      </p>
      <div>
        <form class="" action="">
          <div class="flex">
            <input type="text" placeholder="myemail@email.com">
          </div>
          <button type="submit">{{ 'templates.contact.form.send' | t }}</button>
        </form>
      </div>
    </div>


    <div class="footer__second_section">
      <div>
        <div class="flex  footer__collapsible-header">
          {%- if section.settings.newsletter_desc != blank -%}
            <h3>{{ section.settings.footer_menu_1_heading | escape }}</h3>
          {%- endif -%}
          <span class="footer__chevron-down">{% render 'icon-chevron-down' %}</span>
        </div>
        <div class="footer__collapsible-content">
          {% if section.settings.footer_menu_1 %}
            {% assign menu_handle = section.settings.footer_menu_1 %}
            {% for link in linklists[menu_handle].links %}
              <a href="{{ link.url }}">{{ link.title }}</a>
            {% endfor %}
          {% endif %}
        </div>
      </div>
      <div>
        <div class="flex  footer__collapsible-header">
          <h3>Kontakt</h3>
          <span class="footer__chevron-down">{% render 'icon-chevron-down' %}</span>
        </div>
        <div class="footer__collapsible-content flex-col">
          <span>Obsługa klienta</span>
          <span>lets@nazwa.com</span>
          <span>Jesteśmy tutaj od 9:00 do 16:00</span>
          <span>Współpraca +48 48 111 111 111</span>
          <span>Adres ul. / kod pocztowy</span>
        </div>
      </div>
    </div>


    <div class="footer__third_section">
      <div>
        <div class="flex footer__collapsible-header">
          {%- if section.settings.newsletter_desc != blank -%}
            <h3>{{ section.settings.footer_menu_2_heading | escape }}</h3>
          {%- endif -%}
          <span class="footer__chevron-down">{% render 'icon-chevron-down' %}</span>
        </div>
        <div class="footer__collapsible-content">
          {% if section.settings.footer_menu_2 %}
            {% assign menu_handle = section.settings.footer_menu_2 %}
            {% for link in linklists[menu_handle].links %}
              <a href="{{ link.url }}">{{ link.title }}</a>
            {% endfor %}
          {% endif %}
        </div>
      </div>
      <div>
        <h3>Let's do this together!</h3>
        <span class="footer__watch-us-span">Obserwuj nas</span>
        <div class="footer_social-links-container flex">
          <a href="#" class="footer__social-link">{% render 'icon-facebook' %}</a>
          <a href="#" class="footer__social-link">{% render 'icon-twitter' %}</a>
          <a href="#" class="footer__social-link">{% render 'icon-instagram' %}</a>
          <a href="#" class="footer__social-link">{% render 'icon-linkedin' %}</a>
          <a href="#" class="footer__social-link">{% render 'icon-tiktok' %}</a>
          <a href="#" class="footer__social-link">{% render 'icon-pinterest' %}</a>
        </div>
        <small>&copy; 2023 Blue Owl.All rights reserved</small>
      </div>
    </div>


  </div>



</footer>


<script>
  const chevronsFooter = Array.from(document.getElementsByClassName('footer__chevron-down'));
  const collapsibleContents = Array.from(document.getElementsByClassName('footer__collapsible-content'));
  chevronsFooter.forEach((chevron, index) => chevron.addEventListener('click', (e) => {
    collapsibleContents[index].classList.toggle('expand');
    e.currentTarget.classList.toggle('active');
  }))
</script>

{% schema %}
  {
    "name": "t:sections.footer2.name",
    "settings": [ 
      {
      "type": "select",
      "id": "select",
      "options": [
        {
          "value": "svg",
          "label": "t:sections.footer2.settings.svg.label"
        },
        {
          "value": "img",
          "label": "t:sections.footer2.settings.img.label"
        }
      ],
      "default": "svg",
      "label": "t:sections.footer2.settings.select.label"
      },
      {
        "type": "text",
        "id": "svg_code",
        "label": "t:sections.footer2.settings.svg_code.label"
      },
      {
        "type": "image_picker",
        "id": "image",
        "label": "t:sections.footer2.settings.image.label"
      },
       {
          "type": "text",
          "id": "footer_desc",
          "label": "t:sections.footer2.settings.footer_desc.label"
        },
        {
          "type": "text",
          "id": "newsletter_heading",
          "label": "t:sections.footer2.settings.newsletter_heading.label"
        },
        {
          "type": "text",
          "id": "newsletter_desc",
          "label": "t:sections.footer2.settings.newsletter_desc.label"
        },
        {
          "type": "text",
          "id": "footer_menu_1_heading",
          "label": "t:sections.footer2.settings.footer_menu_1_heading.label"
        },
        {
          "type": "link_list",
          "label": "t:sections.footer2.settings.footer_menu_1.label",
          "id": "footer_menu_1"
        },
        {
          "type": "text",
          "id": "footer_menu_2_heading",
          "label": "t:sections.footer2.settings.footer_menu_2_heading.label"
        },
        {
          "type": "link_list",
          "label": "t:sections.footer2.settings.footer_menu_2.label",
          "id": "footer_menu_2"
        }
    ],	
    "blocks": [
       {
         "name": "Bottom Link",
         "type": "bottomLink",
         "limit": 6,
         "settings": [
           {  
             "type": "text",
             "id": "linkText",
             "label": "Link text"
           },{
            "id": "linkurl",
            "type": "url",
            "label": "URL link"
          }
         ]
       }
     ]
  }
{% endschema %}