<link
  rel="stylesheet"
  type="text/css"
  href="{{ 'component-header2.css' | asset_url }}"
  media="print"
  onload="this.media='all'">



<style></style>



<header class="header-wrapper flex">
  {{ 'nav-pink-sprite.svg' | asset_url | img_tag: 'pink-sprite', "pink-nav-sprite" }}
  {{ 'logo-letters.svg' | asset_url | img_tag: 'Logo letters', "logo-letters" }}
  <nav role="navigation">
    <ul class="header__main-links-desktop">
      {%- for link in linklists.test-menu.links -%}
        <li class="{% if link.links != blank %}availableExpand{% endif %}">
          <a href="{{ link.url }}" {% if link.active %}aria-current="page"{% endif %}>
            {{ link.title }}
          </a>

          {%- if link.links != blank -%}
            <ul class="second-list">
              <div class="flex second-list-links-container">

                {%- for child_link in link.links -%}
                  <li class="flex-col">
                    <a href="{{ child_link.url }}" {% if child_link.active %}aria-current="page"{% endif %}>
                      {{ child_link.title }}
                    </a>

                    {%- if child_link.links != blank -%}
                      <ul>
                        {%- for grandchild_link in child_link.links -%}
                          <li>
                            <a href="{{ grandchild_link.url }}" {% if grandchild_link.active %}aria-current="page"{% endif %}>
                              {{ grandchild_link.title }}
                            </a>
                          </li>
                        {%- endfor -%}
                      </ul>
                    {%- endif -%}

                  </li>
                {%- endfor -%}
              </div>
              <div class="second-list-footer flex">
                <ul class="flex">
                  <li>MUST HAVE</li>
                  <li>POMYSŁ NA PREZENT</li>
                  <li>ZESTAWY</li>
                  <li>WSZYSTKIE PRODUKTY</li>
                </ul>
                <ul class="flex">
                  <button>WIOSNA-LATO</button>
                  <button disabled aria-disabled="true">JESIEŃ-ZIMA</button>
                </ul>
              </div>

            </ul>

          {%- endif -%}

        </li>
      {%- endfor -%}
    </ul>
    <div class="header__main-links-mobile" id="dropdown-menu">
      <form
        action="{{ routes.search_url }}"
        method="get"
        role="search"
        class="search search-modal__form">
<div class="search-input-container flex" style="">
  <span class="nav-icon">

    {% render 'icon-search' %}
    </span>
  <input       placeholder="{{ 'general.search.search' | t }}"   type="search">
</div>

        {% comment %}
          
        <div class="field">
          <input
          class="search__input field__input"
          id="Search-In-Modal"
          type="search"
          name="q"
          value=""
          placeholder="{{ 'general.search.search' | t }}"
          {%- if settings.predictive_search_enabled -%}
          role="combobox"
          aria-expanded="false"
          aria-owns="predictive-search-results-list"
          aria-controls="predictive-search-results-list"
          aria-haspopup="listbox"
          aria-autocomplete="list"
          autocorrect="off"
          autocomplete="off"
          autocapitalize="off"
          spellcheck="false"
        {%- endif -%}>
        <label class="field__label" for="Search-In-Modal">{{ 'general.search.search' | t }}</label>
        <input
        type="hidden"
        name="options[prefix]"
        value="last">
        <button class="search__button field__button nav-icon" aria-label="{{ 'general.search.search' | t }}">
          {% render 'icon-search' %}
          </button>
          </div>
        {% endcomment %}

          {%- if settings.predictive_search_enabled -%}
            <div
              class="predictive-search predictive-search--header"
              tabindex="-1"
              data-predictive-search>
              <div class="predictive-search__loading-state">
                <svg
                  aria-hidden="true"
                  focusable="false"
                  role="presentation"
                  class="spinner"
                  viewBox="0 0 66 66"
                  xmlns="http://www.w3.org/2000/svg">
                  <circle
                    class="path"
                    fill="none"
                    stroke-width="6"
                    cx="33"
                    cy="33"
                    r="30"></circle>
              </svg>
            </div>
          </div>

          <span
            class="predictive-search-status visually-hidden"
            role="status"
            aria-hidden="true"></span>
        {%- endif -%}
      </form>
      <ul>
        {%- for link in linklists.test-menu.links -%}
          {%- if link.links != blank -%}
            <li>
              <ul class="">
                <div class="">
                  {%- for child_link in link.links -%}
                    <li class="">
                      <div class="dropdown-menu-child flex">
                        <a href="{{ child_link.url }}" {% if child_link.active %}aria-current="page"{% endif %}>
                          {{ child_link.title }}
                        </a>
                        <button>
                          <span class="chevron-down">{% render 'icon-chevron-down' %}</span>
                        </button>
                      </div>
                      {%- if child_link.links != blank -%}
                        <ul class="dropdown-menu-grand-child-list">
                          {%- for grandchild_link in child_link.links -%}
                            <li>
                              <a href="{{ grandchild_link.url }}" {% if grandchild_link.active %}aria-current="page"{% endif %}>
                                {{ grandchild_link.title }}
                              </a>
                            </li>
                          {%- endfor -%}
                        </ul>
                      {%- endif -%}
                    </li>
                  {%- endfor -%}
                </div>
      

                <div class="second-list-mobile-footer">

                  <div class="flex mini-slider" >
                    <div class="mobile-footer-links-container flex">
                      <ul class="flex" id="mobile-footer-links">
                   
                        </ul>
                        </div>
                        <button>
                      <span class="chevrons-right" id="chevrons-right">
                        {% render 'chevrons-right' %}
                      </span>
                    </button>
                  </div>
                  <ul class="flex mobile-second-list-footer">
                    <button>WIOSNA-LATO</button>
                    <button disabled aria-disabled="true">JESIEŃ-ZIMA</button>
                  </ul>
                </div>

              </ul>


            </li>
          {%- endif -%}
        {%- endfor -%}
      </ul>
    </div>
  </nav>

  <summary
    class="header-summary flex"
    aria-haspopup="dialog"
    aria-label="{{ 'general.search.search' | t }}">
    <a href="#" class="nav-icon">
      {% render 'icon-search' %}
    </a>
    <a href="#" class="nav-icon">
      {% render 'icon-account' %}
    </a>
    <a href="{{ routes.cart_url }}" class="nav-icon">
      <span class="visually-hidden">{{ 'templates.cart.cart' | t }}</span>
      <span class="flex header-cart ">
        {% render 'icon-cart2' %}
        <span class="header-cart-items-count">0</span>
      </span>
      <span class="cart-money-indicator">
        {{ cart.total_price | money }}
      </span>
    </a>
    <button class="nav-icon hamburger">
      <span class="nav-icon active " id="icon-hamburger">
        {% render 'icon-hamburger' %}
      </span>
      <span class="nav-icon " id="icon-close">
        {% render 'icon-close' %}

      </span>
    </button>


  </summary>
</header>

<script>
  const testArray = [
    "MUST HAVE",
    "POMYSŁ NA PREZENT",
    "ZESTAWY",
    "WSZYSTKIE PRODUKTY",
    "MUST HAVE22",
    "MUST HAVE22",
    "MUST HAVE22",
    "MUST HAVE22",
    "MUST HAVE22",
    "MUST HAVE22",
    "MUST HAVE22",
    "MUST HAVE22",
    "POMYSŁ NA PREZENT22",
    "ZESTAWY22",
  ];
  
  const hamburgerIcon = document.getElementById("icon-hamburger");
  const closeIcon = document.getElementById("icon-close");
  const dropDown = document.getElementById("dropdown-menu");
  const chevrons = document.getElementsByClassName("chevron-down");
  const chevronsRight = document.getElementById("chevrons-right");
  const mobileFooterLinks = document.getElementById("mobile-footer-links");
  let direction = "RIGHT";
  let currentIndex = 0;
  let actualPos = 0;
  const toogleClasses = () => {
    closeIcon.classList.toggle("active");
    hamburgerIcon.classList.toggle("active");
    dropDown.classList.toggle("active");
  };
  
  Array.from(chevrons).forEach(function (element) {
    element.addEventListener("click", (e) => {
      const chevron = e.currentTarget;
      chevron.closest("div").nextSibling.classList.toggle("expand");
  
      chevron.classList.toggle("active");
    });
  });
  
  hamburgerIcon.addEventListener("click", toogleClasses);
  closeIcon.addEventListener("click", toogleClasses);
  chevronsRight.addEventListener("click", () => {
    if (currentIndex === mobileFooterLinks.children.length - 1) {
      direction = "LEFT";
    }
    if (currentIndex === 0) direction = "RIGHT";
    if (direction === "RIGHT") {
      mobileFooterLinks.style.transform = `translate(-${
        actualPos + mobileFooterLinks.children[currentIndex + 1].offsetWidth
      }px)`;
      actualPos += mobileFooterLinks.children[currentIndex + 1].offsetWidth;
      currentIndex += 1;
      if (currentIndex === mobileFooterLinks.children.length - 1) {
        chevronsRight.classList.toggle("active");
      }
    }
    if (direction === "LEFT") {
      mobileFooterLinks.style.transform = `translate(-${
        actualPos - mobileFooterLinks.children[currentIndex - 1].offsetWidth
      }px)`;
      actualPos -= mobileFooterLinks.children[currentIndex - 1].offsetWidth;
      currentIndex -= 1;
      if (currentIndex === 0) chevronsRight.classList.toggle("active");
    }
  });
  const formFooterLinksDom = () => {
    let tripleArr = [];
    testArray.forEach((text) => {
      tripleArr.push(text);
      if (tripleArr.length === 3) {
        const div = document.createElement("div");
        div.classList.add("mobile-footer-links-cluster");
        div.style.width = `${
          document.getElementsByClassName("mobile-footer-links-container")[0]
            .clientWidth
        }px`;
        tripleArr.forEach((text) => {
          const li = document.createElement("li");
          li.innerText = text;
          div.appendChild(li);
        });
        mobileFooterLinks.appendChild(div);
        tripleArr = [];
      }
    });
    if (tripleArr.length) {
      const div = document.createElement("div");
      div.classList.add("mobile-footer-links-cluster");
  
      div.style.width = `${
        document.getElementsByClassName("mobile-footer-links-container")[0]
          .clientWidth
      }px`;
      tripleArr.forEach((text) => {
        const li = document.createElement("li");
        li.innerText = text;
        div.appendChild(li);
      });
      mobileFooterLinks.appendChild(div);
      tripleArr = [];
    }
  };
  
  window.addEventListener("DOMContentLoaded", () => formFooterLinksDom());


</script>

{% schema %}
  {
    "name": "header2",
    "settings": []
  }
{% endschema %}

