  <div class="swiper-container">
    <div class="swiper-wrapper">
      {% for slide in section.blocks %}
        <div class="swiper-slide">
            {%- if slide.settings.slide_image -%}
            {%- assign height = slide.settings.slide_image.width | divided_by: slide.settings.slide_image.aspect_ratio | round -%}
            {{ slide.settings.slide_image | image_url: width: 3840 | image_tag:
              loading: 'lazy',
              height: height,
              sizes: "100vw",
              widths: '375, 550, 750, 1100, 1500, 1780, 2000, 3000, 3840'
            }}
          {%- else -%}
            {{ 'lifestyle-2' | placeholder_svg_tag: 'placeholder-svg' }}
          {%- endif -%}
          <div class="slider-text">
            {%- if slide.settings.slide_title -%}
              <h2 class="{{ slide.settings.heading_size }}" style="color:{{ slide.settings.heading_color }}; {% if slide.settings.heading_bold == true %} font-weight: bold;{% endif %}">{{ slide.settings.slide_title | escape }}</h2>
            {%- endif -%}
            {%- if slide.settings.slide_description -%}
              <h4 class="{{ slide.settings.description_size }}" style="color:{{ slide.settings.description_color }}; {% if slide.settings.description_bold == true %} font-weight: bold;{% endif %}">{{ slide.settings.slide_description | escape }}</h4>
            {%- endif -%}
            {%- if slide.settings.button_label != blank -%}
              <div class="heroSlider-button">
                <a{% if slide.settings.button_link %} href="{{ slide.settings.button_link }}"{% else %} role="link" aria-disabled="true"{% endif %} class="button" style="color:{{ slide.settings.button_label_color }}">{{ slide.settings.button_label | escape }}</a>
              </div>
            {%- endif -%}
          </div>
        </div>
      {% endfor %}
    </div>
    <div class="swiper-button-prev custom-swiper-button-prev">
      {%- assign height = section.settings.arrow_icon_prev.width | divided_by: section.settings.arrow_icon_prev.aspect_ratio | round -%}
        {{ section.settings.arrow_icon_prev | image_url: width: 42 | image_tag:
            loading: 'lazy',
            height: height
        }}
    </div>
    <div class="swiper-button-next custom-swiper-button-next">
        {%- assign height = section.settings.arrow_icon_next.width | divided_by: section.settings.arrow_icon_next.aspect_ratio | round -%}
        {{ section.settings.arrow_icon_next | image_url: width: 42 | image_tag:
            loading: 'lazy',
            height: height
        }}
    </div>
  </div>

{% schema %}
{
  "name": "Hero Slider",
  "settings": [
    {
      "type": "image_picker",
      "label": "Ikona strzałki - prawa",
      "id": "arrow_icon_next",
      "info": "Wgraj plik ikony strzałki prawej"
    }, {
      "type": "image_picker",
      "label": "Ikona strzałki - lewa",
      "id": "arrow_icon_prev",
      "info": "Wgraj plik ikony strzałki lewej"
    }
  ],
  "presets": [
    {
      "name": "Hero Slider",
      "category": "ADVANCED LAYOUT"
    }
  ],
  "blocks": [
    {
      "type": "slide",
      "name": "Slide",
      "settings": [
        {
          "type": "image_picker",
          "label": "Obraz slajdu",
          "id": "slide_image"
        },
        {
          "type": "text",
          "label": "Nagłówek slajdu",
          "id": "slide_title"
        },
        {
          "type": "select",
          "id": "heading_size",
          "options": [
            {
              "value": "h3",
              "label": "Mały"
            },
            {
              "value": "h2",
              "label": "Średni"
            },
            {
              "value": "h1",
              "label": "Duży"
            }
          ],
          "default": "h2",
          "label": "Wielkość nagłówka"
        }, 
        {
        "type": "color",
        "label": "Kolor nagłówka",
        "id": "heading_color",
        "default": "#000000"
        }, 
        {
        "type": "checkbox",
        "id": "heading_bold",
        "label": "Pogrubienie nagłówka",
        "default": false
        }, 
        {
          "type": "textarea",
          "label": "Opis slajdu",
          "id": "slide_description"
        },
        {
          "type": "select",
          "id": "description_size",
          "options": [
            {
              "value": "h5",
              "label": "Mały"
            },
            {
              "value": "h4",
              "label": "Średni"
            },
            {
              "value": "h3",
              "label": "Duży"
            }
          ],
          "default": "h4",
          "label": "Wielkość opisu"
        }, 
        {
        "type": "color",
        "label": "Kolor opisu",
        "id": "description_color",
        "default": "#000000"
        }, 
        {
        "type": "checkbox",
        "id": "description_bold",
        "label": "Pogrubienie opisu",
        "default": false
        },
        {
          "type": "text",
          "id": "button_label",
          "default": "Button label",
          "label": "Tekst przycisku",
          "info": "Pozostaw etykietę pustą aby ukryć przycisk"
        },
        {
        "type": "color",
        "label": "Kolor testu przycisku",
        "id": "button_label_color",
        "default": "#000000"
        },
        {
          "type": "url",
          "id": "button_link",
          "label": "Link przycisku"
        }
      ]
    }
  ]
}
{% endschema %}

{% stylesheet %}
.swiper-container {
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
  max-height: 100%;
  overflow: hidden;
  position: relative;
}

.swiper-slide {
  width: 100% !important; 
  text-align: center;
  display: flex !important;
  align-items: center;
  justify-content: center;
  position: relative; 
}

.slider-text {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.slider-text h2 {
  text-shadow: 0px 4px 10px rgba(0, 0, 0, 0.23);
  margin-bottom: 16px;
  margin-top: 0;
}

.slider-text h4 {
  text-shadow: 0px 4px 10px rgba(0, 0, 0, 0.23);
  margin-bottom: 0;
  margin-top: 0;
}

.heroSlider-button {
  margin-top: 24px; 
}

.heroSlider-button a {
  border: 1px solid rgba(255, 255, 255, 0.40);
  background: rgba(255, 255, 255, 0.40);
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.12);
}

.heroSlider-button a:after, .heroSlider-button a:hover:after { 
  box-shadow: none !important; 
}

.swiper-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper-button-next, .swiper-button-prev {
  display: flex !important;
}

.swiper-button-next {
  right: 48px !important;
}

.swiper-button-prev {
  left: 48px !important;  
}

.swiper-button-next:after, .swiper-button-prev:after {
  content: '' !important; 
}

.swiper-container, .swiper-wrapper, .swiper-slide {
  max-height: 653px; 
}

{% endstylesheet %}

{% javascript %}
window.addEventListener('DOMContentLoaded', function() {
  var swiper = new Swiper('.swiper-container', {
    navigation: {
      nextEl: '.swiper-button-next',
      prevEl: '.swiper-button-prev',
      disabledClass: 'swiper-button-disabled',
      hiddenClass: 'swiper-button-hidden',
      prevEl: '.custom-swiper-button-prev',
      nextEl: '.custom-swiper-button-next',
    },
    loop: true,
  });
});
{% endjavascript %}