{{ 'tabs-section.css' | asset_url | stylesheet_tag }}

{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

<div class="page-width">
 <div class="tabs-section">

    <input type="radio" name="tabs" id="tabone" checked="checked">
    <label for="tabone">{{ section.settings.tab1_title | escape }}</label>
    <div class="tab">
      <p>Content is UX. If the primary purpose of websites is to deliver valuable content to an audience, we should be designing content-first for the best possible UX.</p>
      <div class="tab--image__container">
      {% for block in section.blocks %}
        <div class="tab-image">
          {%- if block.settings.image != blank -%}
            {{ block.settings.image | image_url: width: 320, height: 240 | class:'card-media' | image_tag:
              loading: 'lazy',
              sizes: sizes,
              widths: '165, 320'
            }}
          {%- else -%}
            {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
          {%- endif -%}
        </div>
      {% endfor %}
      </div>
    </div>

    <input type="radio" name="tabs" id="tabtwo">
    <label for="tabtwo">Sposób użycia</label>
    <div class="tab">
      <p>Content is UX. If the primary purpose of websites is to deliver valuable content to an audience, we should be designing content-first for the best possible UX.</p>
    </div>
    
    <input type="radio" name="tabs" id="tabthree">
    <label for="tabthree">Składniki</label>
    <div class="tab">
      <p>hfioezhogehzioghz</p>
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "Tabs section product",
    "settings": [
      {
        "type": "richtext",
        "id": "tab1_title",
        "label": "Tab 1 title"
      }
    ],
      "blocks": [
    {
      "type": "image",
      "name": "Product Image",
      "settings": [
        {
        "id": "image",
        "type": "image_picker",
        "label": "Product Image"
        }
      ]
    }
    ],
    "presets": [
    {
      "name": "Tabs section"
    }
  ]
  }
{% endschema %}