{{ 'tabs-section.css' | asset_url | stylesheet_tag }}

{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

<div class="page-width">
 <div class="tabs-section">

    <input type="radio" name="tabs" id="tabone" checked="checked">
    <label for="tabone">O produkcie</label>
    <div class="tab">
      <p>Content is UX. If the primary purpose of websites is to deliver valuable content to an audience, we should be designing content-first for the best possible UX.</p>
    </div>

    <input type="radio" name="tabs" id="tabtwo">
    <label for="tabtwo">Sposób użycia</label>
    <div class="tab">
      <p>Content is UX. If the primary purpose of websites is to deliver valuable content to an audience, we should be designing content-first for the best possible UX.</p>
    </div>
    
    <input type="radio" name="tabs" id="tabthree">
    <label for="tabthree">Składniki</label>
    <div class="tab">
      <p>hfioezhogehzioghz</p>
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "Tabs section product",
    "settings": [],
    "presets": [
    {
      "name": "Tabs section"
    }
  ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}