{{ 'section-tabs.css' | asset_url | stylesheet_tag }}

<div class="sectionTabs">
  <div class="sectionTabs__wrapper">
    <div class="sectionTabs__tabs">
      {% for block in section.blocks %}
        <div class="sectionTabs__singleTab">
          <div class="singleTab__wrapper {{ block.settings.tab_position }}">
            <div class="singleTab__image">
              {%- if block.settings.tab_image -%}
              {%- assign height = block.settings.tab_image.width | divided_by: block.settings.tab_image.aspect_ratio | round -%}
              {{ block.settings.tab_image | image_url: width: 1224 | image_tag:
                loading: 'lazy',
                height: height,
                sizes: "100vw",
                widths: '300, 400, 600, 800, 1000, 1224'
              }}
              {%- else -%}
                {{ 'lifestyle-2' | placeholder_svg_tag: 'placeholder-svg' }}
              {%- endif -%}
            </div>
            <div class="singleTab__content" style="background:{{ block.settings.tab_color }};"> 
              {%- if block.settings.tab_overheading != blank -%}
                <h5 style="color:{{ block.settings.overheading_color }}; {% if block.settings.overheading_bold %} font-weight: bold;{% endif %}">{{ block.settings.tab_overheading | escape }}</h5>
              {%- endif -%}
              {%- if block.settings.tab_heading != blank -%}
                <h2 class="{{ block.settings.heading_size }}" style="color:{{ block.settings.heading_color }}; {% if block.settings.heading_bold %} font-weight: 800;{% endif %}">{{ block.settings.tab_heading | escape }}</h2>
              {%- endif -%}
              {%- if block.settings.tab_description != blank -%}
                <p style="color:{{ block.settings.description_color }}; {% if block.settings.description_bold %} font-weight: bold;{% endif %}">{{ block.settings.tab_description | escape }}</p>
              {%- endif -%}
              {%- if block.settings.button_label != blank -%}
              <div class="singleTab--button">
                <a{% if block.settings.button_link %} href="{{ block.settings.button_link }}"{% else %} role="link" aria-disabled="true"{% endif %} class="button" style="color:{{ block.settings.button_label_color }}; background:{{ block.settings.button_bg }}">{{ block.settings.button_label | escape }}</a>
              </div>
              {%- endif -%}
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>   
</div>

{% schema %}
{
  "name": "t:sections.tabs.name",
  "tag": "section",
  "class": "section",
  "presets": [
    {
      "name": "t:sections.tabs.presets.name",
      "category": "t:sections.tabs.presets.category"
    }
  ],
  "blocks": [
    {
      "type": "block",
      "name": "t:sections.tabs.blocks.name",
      "limit": 8,
      "settings": [
        {
          "type": "image_picker",
          "label": "t:sections.tabs.blocks.settings.tab_image.label",
          "id": "tab_image"
        },
        {
        "type": "color",
        "label": "t:sections.tabs.blocks.settings.tab_color.label",
        "id": "tab_color",
        "default": "#000000"
        }, 
        {
          "type": "select",
          "id": "tab_position",
          "options": [
            {
              "value": "up-left",
              "label": "t:sections.tabs.blocks.settings.tab_position.options__1.label"
            },
            {
              "value": "up-center",
              "label": "t:sections.tabs.blocks.settings.tab_position.options__2.label"
            },
            {
              "value": "up-right",
              "label": "t:sections.tabs.blocks.settings.tab_position.options__3.label"
            },
            {
              "value": "middle-left",
              "label": "t:sections.tabs.blocks.settings.tab_position.options__4.label"
            },
            {
              "value": "middle-center",
              "label": "t:sections.tabs.blocks.settings.tab_position.options__5.label"
            },
            {
              "value": "middle-right",
              "label": "t:sections.tabs.blocks.settings.tab_position.options__6.label"
            },
            {
              "value": "down-left",
              "label": "t:sections.tabs.blocks.settings.tab_position.options__7.label"
            },
            {
              "value": "down-center",
              "label": "t:sections.tabs.blocks.settings.tab_position.options__8.label"
            },
            {
              "value": "down-right",
              "label": "t:sections.tabs.blocks.settings.tab_position.options__9.label"
            }
          ],
          "default": "middle-center",
          "label": "t:sections.tabs.blocks.settings.tab_position.label"
        }, 
        {
          "type": "text",
          "label": "t:sections.tabs.blocks.settings.tab_heading.label",
          "id": "tab_heading"
        },
        {
          "type": "select",
          "id": "heading_size",
          "options": [
            {
              "value": "h1",
              "label": "t:sections.tabs.blocks.settings.heading_size.options__1.label"
            },
            {
              "value": "h2",
              "label": "t:sections.tabs.blocks.settings.heading_size.options__2.label"
            },
            {
              "value": "h3",
              "label": "t:sections.tabs.blocks.settings.heading_size.options__3.label"
            }
          ],
          "default": "h2",
          "label": "t:sections.tabs.blocks.settings.heading_size.label"
        }, 
        {
        "type": "color",
        "label": "t:sections.tabs.blocks.settings.heading_color.label",
        "id": "heading_color",
        "default": "#000000"
        }, 
        {
        "type": "checkbox",
        "id": "heading_bold",
        "label": "t:sections.tabs.blocks.settings.heading_bold.label",
        "default": false
        }, 
        {
          "type": "text",
          "label": "t:sections.tabs.blocks.settings.tab_overheading.label",
          "id": "tab_overheading"
        },
        {
        "type": "color",
        "label": "t:sections.tabs.blocks.settings.overheading_color.label",
        "id": "overheading_color",
        "default": "#000000"
        }, 
        {
        "type": "checkbox",
        "id": "overheading_bold",
        "label": "t:sections.tabs.blocks.settings.overheading_bold.label",
        "default": false
        },
        {
          "type": "textarea",
          "label": "t:sections.tabs.blocks.settings.tab_description.label",
          "id": "tab_description"
        },
        {
        "type": "color",
        "label": "t:sections.tabs.blocks.settings.description_color.label",
        "id": "description_color",
        "default": "#000000"
        }, 
        {
        "type": "checkbox",
        "id": "description_bold",
        "label": "t:sections.tabs.blocks.settings.description_bold.label",
        "default": false
        },
        {
        "type": "color",
        "label": "t:sections.tabs.blocks.settings.button_bg.label",
        "id": "button_bg",
        "default": "#000000"
        },
        {
          "type": "text",
          "id": "button_label",
          "default": "Button label",
          "label": "t:sections.tabs.blocks.settings.button_label.label",
          "info": "t:sections.tabs.blocks.settings.button_label.info"
        },
        {
        "type": "color",
        "label": "t:sections.tabs.blocks.settings.button_label_color.label",
        "id": "button_label_color",
        "default": "#000000"
        },
        {
          "type": "url",
          "id": "button_link",
          "label": "t:sections.tabs.blocks.settings.button_link.label"
        }
      ]
    }
  ]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %} 
{% endjavascript %}